@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body, html {
  font-family: Montserrat;
  font-size: 14px;
  background: #000000;
  color: #ffffff;
}

body.lock {
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 85px;
  background: #000000;
}

.header__container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo_img {
  margin: 0 16.8px 0 0;
}

.header__logo_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.header__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 377px;
          flex: 0 1 377px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav a {
  color: #999999;
}

.header__nav_link {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.header__nav_link:hover span {
  border-bottom: 1px solid #ffffff;
}

.header__btm {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  width: 65px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  border: 1px solid #C9C9C9;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 136px;
          flex: 0 1 136px;
}

.header__icon_burger {
  margin: 0 28px 0 0;
}

.header__language {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}

.header__language_burger {
  position: relative;
}

.header__language_burger::after {
  content: '';
  width: 8px;
  height: 6px;
  background: url(../img/arrow.svg) no-repeat;
  display: block;
  position: absolute;
  top: 1px;
  right: -14px;
}

.header__burger {
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.header__burger img {
  display: block;
}

.header__menu {
  display: none;
  position: fixed;
  z-index: 2;
  right: -100%;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 0 0 0 117px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header__menu.active {
  right: 0;
}

.header__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 142px;
  left: 118px;
}

.header__block_link {
  font-weight: 500;
  font-size: 24px;
  margin: 0 0 23px 0;
  height: 35px;
}

.header__block_link span:hover {
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  height: 35px;
}

.header hr {
  -webkit-transform: translate(0, 22px);
          transform: translate(0, 22px);
  visibility: hidden;
  opacity: 0;
}

.header.active-line hr {
  visibility: visible;
  opacity: 1;
}

.main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__container {
  max-width: 974px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  -webkit-transform: translate(-22px, 0);
          transform: translate(-22px, 0);
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 453px;
          flex: 0 1 453px;
}

.main__buy {
  margin-bottom: 37px;
}

.main__currency {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  color: #999999;
  position: relative;
  padding: 0 15px 0 0;
  margin: 0 20px 0 0;
}

.main__currency::after {
  content: '';
  position: absolute;
  right: 0;
  top: 3px;
  width: 9px;
  height: 8px;
  background: url(../img/Vector1.svg) no-repeat;
}

.main__status {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 0 20px 0 0;
  position: relative;
  color: #5AC06A;
}

.main__status::after {
  content: '';
  width: 10px;
  height: 10px;
  background: url(../img/Arrow2.svg) no-repeat;
  display: block;
  position: absolute;
  top: 2px;
  right: 0;
}

.main__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  margin-bottom: 61px;
}

.main__btm {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  color: #ffffff;
  border: 2px solid #FFFFFF;
  padding: 8px 25px;
}

.main__img img {
  display: block;
}

.cookies {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #000000;
  border-bottom: 0.5px solid #5A5A5A;
}

.cookies hr {
  background: #5a5a5a;
  position: absolute;
  top: 0;
}

.cookies__container {
  max-width: 1097px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.cookies__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookies__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
}

.cookies__btms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 162px;
          flex: 0 1 162px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cookies__btm {
  font-weight: 500;
  font-size: 10px;
  line-height: 113.84%;
  width: 73px;
  height: 25px;
  color: #ffffff;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #C9C9C9;
}

.cookies__btm_2 {
  color: #666666;
  border: 1px solid #666666;
}

.system {
  height: 620px;
  padding: 50px 0 0 0;
}

.system__container {
  max-width: 835px;
  margin: 0 auto;
  padding: 0 15px;
}

.system__title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 57px;
}

.system__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 58px;
}

.system__row:last-child {
  margin-bottom: 99px;
}

.system__column {
  position: relative;
}

.system__column_1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 149px;
          flex: 0 1 149px;
}

.system__column_2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 114px;
          flex: 0 1 114px;
}

.system__column_3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 186px;
          flex: 0 1 186px;
}

.system__column_4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 102px;
          flex: 0 1 102px;
}

.system__icon {
  margin-bottom: 16px;
  height: 30px;
}

.system__text {
  font-size: 12px;
  line-height: 15px;
  height: 44px;
}

.system .dot {
  width: 2.72px;
  height: 2.72px;
}

.system .dot_1 {
  left: 17px;
  top: -13px;
}

.system .dot_2 {
  left: 11px;
  top: -9px;
}

.system .dot_3 {
  left: 41px;
  top: 20px;
}

.system .dot_3 {
  left: 41px;
  top: 20px;
}

.system .dot_4 {
  left: 54px;
  top: 11px;
}

.system .dot_5 {
  left: 49px;
  top: 12px;
}

.system .dot_6 {
  left: 27px;
  top: 21px;
}

.system .dot_7 {
  left: 21px;
  top: -8px;
}

.system .dot_8 {
  left: -1px;
  top: -5px;
}

.system__btm {
  width: 162px;
  height: 33px;
  font-weight: 500;
  font-size: 14px;
  line-height: 113.84%;
  color: #ffffff;
  border: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.about {
  height: 635px;
  padding: 62px 0 0 0;
}

.about__container {
  max-width: 855px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  padding: 45px 0 0 0;
}

.item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 248px;
          flex: 0 1 248px;
}

.item__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 113.84%;
  margin-bottom: 43px;
}

.item__list {
  margin-bottom: 60px;
}

.item__list li {
  font-size: 16px;
  margin-bottom: 17px;
  position: relative;
  padding: 0 0 0 20px;
}

.item__list li::before {
  content: '';
  width: 17px;
  height: 1px;
  background: #ffffff;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 8px;
}

.item__btm {
  font-weight: 500;
  font-size: 14px;
  line-height: 113.84%;
  color: #ffffff;
  border: 1px solid #FFFFFF;
  width: 152px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat {
  padding: 82px 0 0 0;
  height: 635px;
}

.chat__container {
  max-width: 839px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
}

.chat__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts {
  padding: 119px 0 0 0;
}

.contacts hr {
  background: #444444;
}

.contacts__container {
  max-width: 855px;
  margin: 0 auto;
  padding: 0 15px;
}

.contacts__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 113.84%;
  text-align: center;
  margin-bottom: 89px;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 49px;
}

.contacts__row_footer {
  padding: 48px 0 0 0;
  margin: 0 0 124px 0;
}

.contacts__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 113.84%;
}

.contacts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 541px;
          flex: 0 1 541px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.contacts__block_s {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 217px;
          flex: 0 0 217px;
}

.contacts__block_B {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 243px;
          flex: 0 1 243px;
}

.contacts__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 49px;
}

.contacts__row2:last-child {
  margin-bottom: 0;
}

.contacts__icon {
  width: 31px;
  height: 27px;
  margin: 0 26px 0 0;
}

.contacts__info span {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.contacts__info p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #AEAEAE;
  padding: 3px 0 0 0;
}

.contacts__info_B {
  font-weight: 600;
  font-size: 16px;
  line-height: 113.84%;
}

.contacts__info_s {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #AEAEAE;
}

.contacts__info_m {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.dot-white {
  width: 2px;
  height: 2px;
  display: block;
  position: absolute;
  background: #ffffff;
}

.dot-white_2 {
  left: -9px;
}

.dot-white_3 {
  left: 28px;
  top: 0;
}

.dot-white_4 {
  top: -3px;
  left: 36px;
}

.map__container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.map__img {
  max-width: 1180px;
  height: 442px;
}

.map__img img {
  width: 100%;
  height: 100%;
}

.map__item {
  position: absolute;
  top: 134px;
  right: 223px;
  background: rgba(0, 0, 0, 0.5);
  width: 310px;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map__header {
  margin: 0 0 16px 0;
}

.map__icon {
  margin: 0 14px 0 0;
}

.map__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 113.84%;
}

.map__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  max-width: 224px;
  margin: 0 auto;
}

.tabs {
  padding: 119px 0 0 0;
}

.tabs__container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 15px;
}

.tabs__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 113.84%;
  text-align: center;
  margin-bottom: 53px;
}

.tabs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.tabs__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 22px 27px 22px 19px;
  margin: 0 19px 0 0;
  border: 0.5px solid #FFFFFF;
}

.tabs__item:last-child {
  margin: 0;
}

.tabs__block {
  display: none;
}

.tabs__block.active {
  display: block;
}

.item-tabs.active {
  background: #0B0B0B;
  border: 2px solid #FFFFFF;
}

.item-tabs__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 113.84%;
  margin-bottom: 26px;
}

.item-tabs__text {
  font-size: 12px;
  line-height: 113.84%;
}

.table {
  margin-bottom: 144px;
}

.table table {
  width: 100%;
  margin-bottom: 46px;
}

.table table:nth-child(2) {
  margin: 0;
}

.table table:last-child {
  margin-bottom: 78px;
}

.table tr {
  width: 100%;
  display: table;
}

.table tr:last-child {
  border: none;
  display: table;
}

.table__text-1b {
  width: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 113.84%;
  color: #999999;
}

.table__text-2b {
  width: 50%;
}

.table__border {
  border-bottom: 1px solid #666666;
  height: 65px;
}

.table__border-top {
  border-bottom: 1px solid #666666;
  border-top: 1px solid #666666;
  height: 65px;
}

.table__border-none {
  border: none;
  padding: 0;
  height: 65px;
}

.table__border-none_s {
  height: 38px;
}

.table__text-1 {
  width: 50%;
  font-weight: 500;
  font-size: 14px;
  color: #999999;
}

.table__text-2 {
  width: 264px;
  font-weight: 500;
  font-size: 14px;
}

.table__text-2_colour {
  color: #999999;
}

.table__text-2 span {
  max-width: 191px;
  display: inline-block;
}

.table__text-2_border {
  border-bottom: 1px solid #666666;
}

.table__text-3 {
  width: 137px;
  font-weight: 500;
  font-size: 14px;
  -webkit-transform: translate(-3px, 0);
          transform: translate(-3px, 0);
}

.table__text-3_border {
  border-bottom: 1px solid #666666;
  padding: 0 18px 0 0;
}

.table__btm {
  font-weight: 500;
  font-size: 14px;
  width: 152px;
  height: 33px;
  color: #ffffff;
  background: #D8014E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.blue {
  color: #599AF8;
  font-weight: 600;
  font-size: 14px;
}

.hr_b {
  height: 1.5px;
}

hr {
  display: block;
  width: 100%;
  height: 0.5px;
  margin: 0;
  border: 0;
  background-color: #777777;
}

.footer__container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 15px;
}

.top-footer {
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 832px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid-footer {
  height: 124px;
  background: #0B0B0B;
}

.mid-footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 124px;
}

.mid-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.mid-footer__tel {
  font-weight: 500;
  font-size: 32px;
  padding: 0 21px 0 46px;
  position: relative;
}

.mid-footer__tel::before {
  content: '';
  width: 25px;
  height: 25px;
  background: url(../img/Vector.svg) no-repeat;
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
}

.mid-footer__tel::after {
  content: '';
  width: 2px;
  height: 100%;
  background: #ffffff;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.mid-footer__text {
  padding: 0 17px 0 0;
}

.mid-footer__text_top {
  font-weight: 500;
  font-size: 12px;
  line-height: 113.84%;
  margin-bottom: 6px;
}

.mid-footer__text_bot {
  font-size: 12px;
  line-height: 15px;
  color: #999999;
}

.mid-footer .dot {
  top: 3px;
  left: 26px;
}

.dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #D8014E;
  display: block;
  border-radius: 50%;
}

.bot-footer {
  height: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bot-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bot-footer__btms {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 255px;
          flex: 0 1 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bot-footer__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 325px;
          flex: 0 1 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bot-footer__nav a {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.bot-footer__icons {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 129px;
          flex: 0 1 129px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bot-footer__icons a {
  margin: 0 3px 0 0;
}

.bot-footer__icons a:last-child {
  margin: 0;
}

.bot-footer .header__language {
  padding: 0 15px 0 0;
}

.bot-footer .header__language_burger::after {
  right: 0;
}

.copyright-footer {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright-footer__logo {
  font-weight: 500;
  font-size: 14px;
  line-height: 113.84%;
  color: #999999;
}

.copyright-footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 790px;
          flex: 0 1 790px;
  padding: 0 31px 0 0;
  font-size: 10px;
  line-height: 11px;
  color: #777777;
}
/*# sourceMappingURL=style.css.map */